{% if not props.topthree %}
    <h1>Courses</h1>
    <p>Our curriculum consists of 5 multi-segmented courses, which we use to
    create a custom paced full stack curriculum for each student in our
    program.</p>
    <nav>
        <ul>
            {% for course in script.courses %}
                <li>
                    <button @click:=script.selectCourse payload="{{ course.title|lower }}">
                        <span class="step">{{ course.step }}</span>
                        <span class="label">{{ course.title }}</span>
                        <span class="weeks">{{ course.weeks }}</span>
                    </button>
                </li>
            {% endfor %}
        </ul>
    </nav>

    <h1>Course Segments</h1>
{% endif %}

<main>

{% if state.selected %}
    <aside>
        {{ script.visibleSegments|length }}/{{ script.segments|length }}
        <button @click:=script.selectCourse payload="">{{ state.selected }} x</button>
    </aside>
{% endif %}


{% for seg in script.visibleSegments %}
    <article title="{{ seg.subtitle }}">
        <div class="course-wrapper {% if state.selected %}course-wrapper--selected{% endif %}">
            <div class="h3-wrapper">
                {% if seg.title %}
                    <h3>{{ seg.title }}</h3>
                {% else %}
                    <h3>{{ seg.course|capfirst }}</h3>
                {% endif %}
                <div style="
                      background-image: 
                          {% if seg.imgfg == 'white' %}
                            linear-gradient(to bottom left, #11111155, #33333355),
                          {% else %}
                            linear-gradient(to bottom left, #eeeeee55, #cccccc55),
                          {% endif %}
                          url(/static/images/new_course_photos/{{ seg.img|default:'laptop-g4d7844033_1280.png' }});
                      color: {{ seg.imgfg|default:'black' }}
                  "
                  class="courseimg"
                >
                {% if seg.subtitle %}
                    <h4>{{ seg.subtitle }}</h4>
                {% endif %}
                </div>
            </div>
            {% if seg.free %}
                <p class="free" title="This course is free. Start immediately!">FREE!</p>
            {% endif %}
            {% if seg.content %}
                <p>{{ seg.content }}</p>
            {% endif %}
            {% if seg.updated %}
                <p>{{ seg.updated }}</p>
            {% endif %}
            <div class="bottom-wrapper">
            {% if seg.skill %}
                <p class="skill skill-level{{ seg.skill }}">
                    {#{% if seg.skill == 1 %}  ◧ □ □    Warm-Up#}
                    {% if seg.skill == 1 %}  □ □ □    <br />Warm-Up
                    {% elif seg.skill == 2 %}▣ □ □    <br />Beginner
                    {% elif seg.skill == 3 %}▣ ▣ □    <br />Intermediate
                    {% elif seg.skill == 4 %}▣ ▣ ▣    <br />Advanced
                    {% endif %}
                </p>
            {% endif %}
            <div class="buy-button-wrapper">
                {% if seg.modules %}
                    <strong class="modules" title="{{ seg.modules|length }} modules">{{ seg.modules|length }} <i class="fa fa-cubes" aria-hidden="true"></i></strong>
                    <br />
                {% endif %}
                {% if seg.project %}
                    <strong class="project-tag" title="Project based learning: {{ seg.project }}"><i class="fa fa-laptop" aria-hidden="true"></i> PROJECT</strong>
                {% endif %}
                {% if not seg.url %}
                    {# Disabling for seg.url since it makes it harder to click #}
                    <div class="included-explainer">
                        {% if seg.project %}
                            <strong>Project based learning:</strong> {{ seg.project }}<br />
                        {% endif %}
                        {% if seg.modules %}
                            <strong>Module Count:</strong> {{ seg.modules|length }}
                        {% endif %}
                    </div>
                {% endif %}
            </div>

            {% if seg.url %}
                <p class="url">
                    <a href="{{ seg.url }}" class="Page-navLink" style="min-width: 40px; font-size: 1rem">
                        BEGIN&nbsp;&raquo;
                    </a>
                    {% if props.topthree %}
                        <span class="sticky-note">
                            <span class="sticky-note-arrow">⬆</span>
                            <strong>Free Course for Beginners!</strong>
                        </span>
                    {% endif %}

                </p>
            {% elif props.topthree %}
                {#<div class="buy-button-wrapper"> </div>#}
            {% else %}
                <div class="buy-button-wrapper">
                    <a href="/courses/#plans" class="getbtn">
                    GET&nbsp;<i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </a>
                    <div class="included-explainer">
                        <strong style="font-size: 1.5rem;">$149</strong>
                        <em>BUNDLE</em>
                        <p>Video Course &amp;<br />Group Tutoring Bundle</p>
                        <em>&raquo; Lifetime Access to All Courses</em>
                        <em>&raquo; 2 Months Video Help</em>
                        <!--
                        <a href="https://kickstartcoding.online/apply/" class="Page-navLink" style="min-width: 40px; font-size: 1rem">
                          🛒&nbsp;GET&nbsp;&raquo;
                        </a>
                        -->
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    </article>
{% endfor %}

</main>
