
{% for plan in staticdata %}
    <article
        title="{{ plan.title }}"
        class=" {% if plan.inquire %} bootcamp {% endif %} "
    >
        {% if plan.title %}
            <div class="
                h3-wrapper
                {% if plan.inquire %}
                h3-wrapper--inquire
                {% endif %}
            ">
                <h3>{{ plan.title }}</h3>
            </div>
        {% endif %}
        {% if plan.mostPopular %}
            <p class="most-popular"><strong>Most popular</strong></p>
        {% endif %}
        <p class="online">({{ plan.online|lower|hlinperson|safe }})</p>
        <p class="lectures">
            {{ plan.lectures|hlinperson|safe }} Lectures
        </p>
        <p class="summary">{{ plan.summary|safe }}</p>
        {% if plan.crossedPrice %}
            <p class="prices">
                <span class="crossed-price">
                    {{ plan.crossedPrice }}
                </span>
            </p>
        {% else %}
            <p class="stars">
                &#9733;&#9733;&#9733;&#9733;&#9733;<br />
                <span>Five-star rated program*</span>
            </p>
        {% endif %}

        <p class="prices">
            <span class="big-price">{{ plan.price }}</span>
        </p>
        <p class="length">
            {{ plan.length }}
        </p>

        {% comment %}
        {% if plan.price lt 900 %}
            <a class="buy-btn" href="#">Purchase</a>
        {% endif %}
        {% endcomment %}

        {% if plan.inquire %}
            <a class="buy-btn buy--inquire" href="https://kickstartcoding.online/apply/">Inquire*</a>
        {% else %}
            <a class="buy-btn buy--apply" href="https://kickstartcoding.online/apply/">Apply</a>
        {% endif %}
        {% if plan.inquire %}
            <p class="inquire">* {{ plan.inquire }}</p>
        {% endif %}
        {% if plan.enrollInfo %}
            <p class="inquire">{{ plan.enrollInfo }}</p>
        {% endif %}
    </article>
{% endfor %}
<div class="review-site-links">
    <p>* We are proud to maintain 5/5 for our commitment to
    excellence in affordable coding education. Review sites:
    <a href="https://www.coursereport.com/schools/kickstart-coding" target="_blank">Course Report</a>,
    <a href="https://www.switchup.org/bootcamps/kickstart-coding" target="_blank">Switch Up</a>,
    and <a href="https://www.yelp.com/biz/kickstart-coding-oakland" target="_blank">Yelp</a>.
</div>

