:root {
  --bluebird: #19B5FE;
  --cerulean: #0698DC;
  --sunshine: #FFD300;
  --golden: #D9A400;
  --granite: #2D2D2D;
  --header: "Raleway";
  --body: "Open Sans";
  --yellow1: #FFFFAAAA;
  --yellow2: #FFE35590;
  --sunshine30: #FFD30050;
  --golden30: #D9A40050;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: Raleway;
    /*
    background-image: 
      radial-gradient(#ffffffaa, #ffffffaa),
      url('/static/images/characters_version_2_altered.png');
    background-size: 200px;
    */
}

html * {
    box-sizing: border-box;
}

html a {
    color: var(--bluebird);
}

body {
    margin: 0;
}

.layout-container {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 900px) 1fr;
}

.layout-container > * {
    grid-column: 2;
}

.Page-container {
    /*min-height: calc(100vh - 200px);*/
    padding-top: 80px;
    max-width: calc(100vw);
    overflow: hidden;
    background: white;
}


.Page-container h1 {
    border-bottom: 1px solid black;
}
.Page-container code {
    border-bottom: 1px dashed gray;
}

.Page-nav {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 900px) 1fr;
    width: 100vw;
    padding-right: 10px;
    padding-left: 10px;
    box-shadow: 0 5px 5px #00000033;
    background: whiteSmoke;
    /*border-top: 2px solid var(--golden);*/
    border-top: 2px solid var(--cerulean);
    z-index: 5;
}

.Page-navHBMenu { /*hide hbmenu */
    display: none;
}

.btn-hbmenu {
    padding: 10px;
    box-shadow: 0 5px 5px #00000033;
    background: white;
    display: inline-block;
    font-size: 30px;
    text-decoration: none;
    color: black !important;
}

.Page-nav img {
    min-height: 60px;
}

.Page-nav li {
    list-style: none;
    margin-right: 20px;
}

.Page-nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-top: 18px; /* Baseline align with logo */
}

.Page-nav div a {
    color: var(--cerulean);
    text-decoration: none;
    border: 1px solid var(--cerulean);
    padding: 8px;
    display: inline-block;
    border-radius: 3px;
    background: #ffffff00;
    transition: background 0.2s, color 0.2s;
}

.Page-nav div a:hover {
    background: white;
    color: var(--bluebird);
}

.right-links {
    margin-top: 12px;
    padding-top: 4px;
    margin-left: 10px;
    text-align: center;
}

.Page-navLink {
    color: black;
    font-weight: 400;
    font-size: 1.8rem;
    /*border-bottom: 1px solid black;*/
    border-bottom: 2px solid var(--cerulean);
    display: block;
    text-decoration: none;
    min-width: 220px;
    margin-left: 0;
    text-align: center;
    transition: box-shadow 0.17s;
    box-shadow: 
        0 -100px 5px 100px inset #ffffff11,
        0  100px 5px 100px inset #ffffff11;
}
.Page-navLink:hover {
    box-shadow: 
        0 -5px 0 0 inset var(--bluebird),
        0 5px 0 0 inset var(--bluebird);
}

.Page-navLink--selected {
    background-color: var(--bluebird);
    box-shadow: 0 -5px 10px 0 inset #00000014;
    border-radius: 1px;
    /*color: white;*/
    /*background-color: var(--cerulean);*/
    /*background: linear-gradient(to bottom, var(--cerulean), var(--cerulean) 80%, var(--bluebird) 81%);*/
    /*border-color: var(--sunshine);*/
}

.Page-navLink:hover {
    /*border-color: var(--sunshine);*/
}

.Page-navLink--selected {
}

.Page-footer {
    height: 80px;
    text-align: center;
    padding-top: 30px
}

.hero-inset-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.hero-image {
    height: 400px;
    padding: 10px;
    border-radius: 50px;
    border: 3px solid var(--sunshine);
    border-top-width: 10px;
    border-bottom-width: 10px;
    padding: 0;
    margin: 0;
    margin-left: -5%;
    position: relative;
    z-index: 1;
    background: url('/static/images/class_photos/side_view_class.jpg') -50px;
    background-size: cover;
    width: 110%;
    box-shadow: 0 5px 5px #00000033;
}

.hero-inset {
    padding-top: 20px;
    padding-bottom: 20px;
    grid-column: 1 / span 3;
    background: var(--sunshine);
    z-index: 1;
    /*width: 100vw;*/
    /*position: relative;*/
    /*left: calc((-100vw + 900px) / 2.0);*/
    /*background-size: cover;*/
    box-shadow: 0 10px 10px inset #00000033;
    /*
    display: grid;
    grid-template-columns: 1fr minmax(auto, 900px) 1fr;
    */
}

.hero-inset > * {
    grid-column: 2;
}

.hero-letter {
    background: WhiteSmoke;
    padding: 20px;
    box-shadow: 0 5px 5px #00000066;
}

.hero-letter img {
    float: left;
    max-width: 30%;
}

.tilted-image {
    height: 400px;
    padding: 10px;
    border: 3px solid var(--sunshine);
    border-top-width: 10px;
    border-bottom-width: 10px;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 1;
    transform: rotate(-3deg);
}

.tilted-image img {
    padding: 0;
    margin: 0;
    width: 150%;
    position: absolute;
    top: -30px;
    left: -100px;
    z-index: -1;
    transform: rotate(3deg);
}

.tilted-image aside {
    font-size: 2rem;
    width: 80%;
    bottom: -30px;
    left: 5px;
    position: absolute;
    display: block;
    line-height: 2.6rem;
    transform: rotate(3deg);
}

.tilted-image p span {
    background: #ffffffdd;
    padding: 3px;
}

.Page-container .hero-image-left {
    height: 400px;
    margin-top: -280px;
    margin-bottom: -47px;
    z-index: 1;
}

.Page-container .hero-text-top,
.Page-container .hero-text-bottom {
    padding-top: 65px;
    margin: 0;
    border-bottom: 3px solid var(--bluebird);
    text-align: right;
    font-size: 4rem; 
    width: 100vw;
    grid-column: 1 / span 3;
}


.Page-container .hero-text-bottom {
    border: none !important;
    font-weight: 200;
    font-size: 3rem; 
    padding: 0;
}

.company-image-cluster {
}

.company-image-cluster > img {
    float: right;
    margin: 10px;
    opacity: 0.5;
    max-width: 200px;
}


@media (max-width: 1440px) {
    .Page-nav {
        /* Don't be as tall layout for <FHD displays */
        height: 50px;
    }

    .Page-nav img { /* Move 10px left */
        margin-left: -10px;
        margin-right: 10px;
        width: 210px;
        margin-top: -8px; /* move up */
    }

    .Page-navLink {
        font-size: 1.5rem;
        min-width: 170px;
    }

    .right-links {
        text-align: right;
        margin-top: 4px;
    }

}

@media (max-width: 992px) {
    .Page-container .hero-image-left {
        z-index: 0;
    }
    .Page-nav img {
        width: 100%;
    }
    .Page-nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .layout-container {
        grid-template-columns: 5px 1fr 5px;
    }

    .Page-navHBMenu {
        display: block;
        position: fixed;
        top: 1px;
        left: 1px;
        z-index: 5;
    }

    .Page-nav {
        height: auto;
        display: block;
        position: relative;
        /*width: calc(100vw -  30px);*/
        /*min-height: calc(100vh -  30px);*/
        margin-right: 20px;
        margin-bottom: 20px;
        z-index: 6;
    }
    .hero-inset-grid {
        display: block; /* go static */
    }
    .Page-container .hero-text-top {
        padding: 0;
        margin-top: -60px;
    }
}


@media (max-width: 576px) {
    .Page-container .hero-image-left {
        height: 200px;
        z-index: 0;
    }
    .layout-container {
        display: block; /* Ensure all layouts go to static at this point */
    }
}
