<head>
    <title>{{ props.title }}</title>
    <meta charset="utf8" />

    <meta name="title" content="{{ props.title }} | Kickstart Coding">
    <meta name="description" content="Learn to code with our one-on-one bootcamp program">
    <meta name="keywords" content="bootcamp, python, learn to code, free coding, coding lessons. online bootcamp, tutoring, computer science, programming, javascript, react, coding school, coding academy">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="language" content="English">
    <meta name="revisit-after" content="5 days">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="//fonts.googleapis.com/css?family=Raleway:300,400,700,800%7CLato:300,400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/site.css" />
</head>
<body>
    <a name="nav"></a>
    <nav class="Page-nav layout-container">
        <a href="/" style="grid-column: 1"><img src="/static/images/kickstartcodinglogo.svg" /></a>
        <ul>
            {% for page in script.navigation %}
                <li>
                    <a href="{% if page.file == props.navselected %}#c{% else %}/{{ page.file }}{% endif %}"
                        title="{{ page.title }}"
                        class="
                            Page-navLink
                            {% if page.file == props.navselected %}Page-navLink--selected{% endif %}
                        ">
                        {{ page.title|upper }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="right-links" style="grid-column: 3">
            {#<a href="https://kickstartcoding.online/" style="font-size: 13px">Student Portal &raquo;</a>#}
        </div>
    </nav>

    <div class="Page-navHBMenu">
        <a href="#nav" class="btn-hbmenu">☰</a>
    </div>

    <a name="c"></a> <!-- c = content -->
    {% if props.toptitle %}
        <div class="Page-container layout-container
                hero-container
                {% if props.tltall %}hero--tltall{% endif %}
                {% if props.landing %}hero--landing{% endif %}
        " style="padding-bottom: 100px">
            <h1 class="hero-text-top layout-container" style="z-index: 3">
                <div>
                    {{ props.toptitle }}
                </div>
            </h1>
            {% if props.bottomtitle %}
                <h1 class="hero-text-bottom layout-container" style="font-size: 2.3rem">
                    <div>{{ props.bottomtitle|safe }}</div>
                </h1>
            {% endif %}
        </div>
        {% if props.rightimage %}
            <img
                style="border: 10px solid var(--bluebird); max-width: 400px; float: right; margin-top: -150px; margin-left: 0"
                src="{{ props.rightimage }}"
            />
        {% endif %}
        {% if props.tlcutout %}
            <div class="hero-tlcutout">
                <img src="{{ props.tlcutoutbg }}" />
                <img src="{{ props.tlcutout }}" />
            </div>
        {% endif %}
    {% endif %}

    <slot name="above-page"></slot>
    <slot class="Page-container layout-container">
    </slot>

    <footer class="Page-footer layout-container">
        <div class="u--layout">
            <ul>
                <h3>Contact</h3>
                <li><a href="mailto:info@kickstartcoding.com">info@kickstartcoding.com</a></li>
                <li><tt>1721 Broadway #201</tt></li>
                <li><tt>Oakland, CA 94612</tt></li>
            </ul>

            <ul>
                <h3>Links</h3>
                {% for page in script.navigation %}
                    <li>
                        <a href="/{{ page.file }}"> {{ page.title }}</a>
                    </li>
                {% endfor %}
            </ul>

            <ul>
                <h3>&nbsp;</h3>
                <li>
                    <a href="https://kickstartcoding.online/apply/">Apply</a>
                </li>
                <li>
                    <a href="https://kickstartcoding.online/info/jobs/">Jobs</a>
                </li>
                <li>
                    <a href="https://kickstartcoding.online/info/code-of-conduct/">Conduct</a>
                </li>
                <li>
                    <a href="https://kickstartcoding.online/">Legacy student <br />portal...</a>
                </li>
            </ul>

            <!--
            <ul>
                <h3>Follow Us</h3>
                <li class="inline-links">
                    <a target="_blank" href="https://www.facebook.com/kickstartcoding/"><i class="fab fa-facebook fa-2x"></i></a>
                    &nbsp;
                    <a target="_blank" href="http://instagram.com/kickstartcoding/"><i class="fab fa-instagram fa-2x"></i></a>
                    &nbsp;
                    <a target="_blank" href="https://www.meetup.com/Hack-and-Learn/"><i class="fab fa-meetup fa-2x"></i></a>
                </li>
                <li class="inline-links">
                    <a target="_blank" href="https://www.linkedin.com/company/kickstartcoding/about/"><i class="fab fa-linkedin fa-2x"></i></a>
                    &nbsp;
                    <a target="_blank" href="https://twitter.com/kscoding"><i class="fab fa-twitter-square fa-2x"></i></a>
                    &nbsp;
                    <a target="_blank" href="https://github.com/kickstartcoding/"><i class="fab fa-github fa-2x"></i></a>
                </li>
            </ul>
            -->


        </div>
        <p style="text-align: center">
            &copy; {{ script.currentYear }} | Kickstart Coding LLC
            {#| <a href="">Terms of Service - Privacy Policy</a>#} {# TODO, copy overl inks #}
            | <a href="https://modulojs.org/" title="Made with Modulo.js" target="_blank">%</a>
        </p>
    </footer>
</body>
